In [93]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('general_data.csv')
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [94]:
print(dataset.columns)
dataset.info

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

<bound method DataFrame.info of       Age Attrition     BusinessTravel              Department  \
0      51        No      Travel_Rarely                   Sales
1      31       Yes  Travel_Frequently  Research & Development
2      32        No  Travel_Frequently  Research & Development
3      38        No         Non-Travel  Research & Development
4      32        No      Travel_Rarely  Research & Development
...   ...       ...                ...                     ...
4405   42        No      Travel_Rarely  Research & Development
4406   29        No      Travel_Rarely  Research & Development
4407   25        No      Travel_Rarely  Research & Development
4408   42        No      Travel_Rarely                   Sales
4409   40        No      Travel_Rarely  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  EmployeeID  \
0                    6          2  Life Sciences              1           1
1                   10          1  Life Sciences              1           2
2                   17          4          Other              1           3
3                    2          5  Life Sciences              1           4
4                   10          1        Medical              1           5
...                ...        ...            ...            ...         ...
4405                 5          4        Medical              1        4406
4406                 2          4        Medical              1        4407
4407                25          2  Life Sciences              1        4408
4408                18          2        Medical              1        4409
4409                28          3        Medical              1        4410

      Gender  ...  NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
0     Female  ...                 1.0      Y                11              8
1     Female  ...                 0.0      Y                23              8
2       Male  ...                 1.0      Y                15              8
3       Male  ...                 3.0      Y                11              8
4       Male  ...                 4.0      Y                12              8
...      ...  ...                 ...    ...               ...            ...
4405  Female  ...                 3.0      Y                17              8
4406    Male  ...                 2.0      Y                15              8
4407    Male  ...                 0.0      Y                20              8
4408    Male  ...                 0.0      Y                14              8
4409    Male  ...                 0.0      Y                12              8

      StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  \
0                    0               1.0                      6
1                    1               6.0                      3
2                    3               5.0                      2
3                    3              13.0                      5
4                    2               9.0                      2
...                ...               ...                    ...
4405                 1              10.0                      5
4406                 0              10.0                      2
4407                 0               5.0                      4
4408                 1              10.0                      2
4409                 0               NaN                      6

      YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
0                  1                        0                     0
1                  5                        1                     4
2                  5                        0                     3
3                  8                        7                     5
4                  6                        0                     4
...              ...                      ...                   ...
4405               3                        0                     2
4406               3                        0                     2
4407               4                        1                     2
4408               9                        7                     8
4409              21                        3                     9

[4410 rows x 24 columns]>

In [95]:
#Creating dictonary to convert the attrition status to numerical
attrition ={'Yes': 1, 'No': 0}
dataset.Attrition = [attrition[att] for att in dataset.Attrition]
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [96]:
d1 = pd.read_csv('general_data.csv')

d1.Attrition = d1.Attrition.map({'Yes':1, 'No':0})
d1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [97]:
#Checking for any data is null or not
dataset.isnull()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [98]:
#Verifying for duplicates
dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4405    False
4406    False
4407    False
4408    False
4409    False
Length: 4410, dtype: bool

In [99]:
#Drop the duplicates in case if any
dataset.drop_duplicates()
#dt1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [100]:
#Remove null rows/columns
dataset.dropna(inplace=True)

In [101]:
#Correlation matrix
dataset.corr()

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.158399,0.007376,-0.033900,NaN,0.008105,-0.001137,-0.045163,0.299527,-0.032561,NaN,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
Attrition,-0.158399,1.000000,-0.009449,-0.017106,NaN,-0.004621,-0.012382,-0.030160,0.042831,0.033153,NaN,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692
DistanceFromHome,0.007376,-0.009449,1.000000,-0.007491,NaN,-0.000326,-0.039990,-0.022757,-0.014449,0.037720,NaN,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.017106,-0.007491,1.000000,NaN,-0.009389,0.045822,0.007289,-0.016210,-0.041054,NaN,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008105,-0.004621,-0.000326,-0.009389,NaN,1.000000,-0.003090,0.007865,0.000719,-0.004877,NaN,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079
JobLevel,-0.001137,-0.012382,-0.039990,0.045822,NaN,-0.003090,1.000000,0.046688,-0.009759,0.010874,NaN,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
MonthlyIncome,-0.045163,-0.030160,-0.022757,0.007289,NaN,0.007865,0.046688,1.000000,-0.021446,0.004607,NaN,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,0.042831,-0.014449,-0.016210,NaN,0.000719,-0.009759,-0.021446,1.000000,0.030064,NaN,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.033153,0.037720,-0.041054,NaN,-0.004877,0.010874,0.004607,0.030064,1.000000,NaN,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031504,-0.008164,0.009353,0.002386,NaN,-0.013488,0.000365,0.027242,0.016291,0.012104,NaN,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,-0.169670,0.009574,-0.009228,NaN,-0.001688,-0.036293,-0.034398,0.238807,-0.018480,NaN,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.047586,-0.008957,0.009939,NaN,-0.012102,-0.031931,0.049780,-0.031335,-0.036720,NaN,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,-0.133003,0.030746,0.005997,NaN,0.004117,-0.063360,0.000088,-0.117213,-0.029022,NaN,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,-0.031423,0.002243,0.023457,NaN,0.000814,-0.059680,0.064470,-0.035855,-0.028654,NaN,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,-0.154692,0.021773,0.005645,NaN,0.009079,-0.053898,0.023095,-0.109372,-0.039687,NaN,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000

In [102]:
#Corelation between attrition and age
''' 
H0: There is no relation between attrition and age
H1: Therr is a relation between attrition and age

conclustion: 
r= -0.159   as r< 0 we can say attrition is -ve ly co-related to age
p = 1.9  as p>= 0.05 we are accepting the null hypothesis
'''
from scipy.stats import pearsonr


r,p = pearsonr(dataset.Attrition, dataset.Age)
print(r, p)

-0.15839867954096665 5.1265982193804103e-26

In [103]:
#Corelation between attrition and DistanceFrom Home
''' 
H0: There is no relation between attrition and distance from home
H1: Therr is a relation between attrition and distance from home

conclustion: 
r= -0.00973   as r< 0 we can say attrition is -ve ly co-related to distance from home
p = 0.5  as p>= 0.05 we are accepting the null hypothesis
'''

r,p = pearsonr(dataset.Attrition, dataset.DistanceFromHome)
print(r, p)

-0.009448638515156224 0.5317715668019558

In [104]:
#Corelation between attrition and Monthly income
''' 
H0: There is no relation between attrition and monthly income
H1: Therr is a relation between attrition and monthly income

conclustion: 
r= -0.0311   as r< 0 we can say attrition is -ve ly co-related to monthly income
p = 1.9  as p>= 0.05 we are accepting the null hypothesis
'''
r,p = pearsonr(dataset.Attrition, dataset.MonthlyIncome)
print(r, p)

-0.030160293808460605 0.045890862744719166

In [105]:
#Corelation between attrition and  number of companies worked
''' 
H0: There is no relation between attrition and Number of companies worked
H1: Therr is a relation between attrition and number of companies worked

conclustion: 
r= 0.0429   as r> 0 we can say attrition is +ve ly co-related to number of comapnies worked
p = 0.0045  as p<= 0.05 we are rejecting the null hypothesis
'''
r,p = pearsonr(dataset.Attrition, dataset.NumCompaniesWorked)
print(r, p)

0.04283056724472072 0.004572057121621882

In [108]:
#Corelation between attrition and Education
''' 
H0: There is no relation between attrition and Education
H1: Therr is a relation between attrition and Education

conclustion: 
r= -0.0171   as r< 0 we can say attrition is -ve ly co-related to Education
p = 0.25  as p>= 0.05 we are accepting the null hypothesis
'''
r,p = pearsonr(dataset.Attrition, dataset.Education)
print(r, p)

-0.01710630705027883 0.2575753930816355

In [109]:
dataset.corr()

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.158399,0.007376,-0.033900,NaN,0.008105,-0.001137,-0.045163,0.299527,-0.032561,NaN,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
Attrition,-0.158399,1.000000,-0.009449,-0.017106,NaN,-0.004621,-0.012382,-0.030160,0.042831,0.033153,NaN,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692
DistanceFromHome,0.007376,-0.009449,1.000000,-0.007491,NaN,-0.000326,-0.039990,-0.022757,-0.014449,0.037720,NaN,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.017106,-0.007491,1.000000,NaN,-0.009389,0.045822,0.007289,-0.016210,-0.041054,NaN,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008105,-0.004621,-0.000326,-0.009389,NaN,1.000000,-0.003090,0.007865,0.000719,-0.004877,NaN,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079
JobLevel,-0.001137,-0.012382,-0.039990,0.045822,NaN,-0.003090,1.000000,0.046688,-0.009759,0.010874,NaN,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
MonthlyIncome,-0.045163,-0.030160,-0.022757,0.007289,NaN,0.007865,0.046688,1.000000,-0.021446,0.004607,NaN,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,0.042831,-0.014449,-0.016210,NaN,0.000719,-0.009759,-0.021446,1.000000,0.030064,NaN,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.033153,0.037720,-0.041054,NaN,-0.004877,0.010874,0.004607,0.030064,1.000000,NaN,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031504,-0.008164,0.009353,0.002386,NaN,-0.013488,0.000365,0.027242,0.016291,0.012104,NaN,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,-0.169670,0.009574,-0.009228,NaN,-0.001688,-0.036293,-0.034398,0.238807,-0.018480,NaN,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.047586,-0.008957,0.009939,NaN,-0.012102,-0.031931,0.049780,-0.031335,-0.036720,NaN,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,-0.133003,0.030746,0.005997,NaN,0.004117,-0.063360,0.000088,-0.117213,-0.029022,NaN,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,-0.031423,0.002243,0.023457,NaN,0.000814,-0.059680,0.064470,-0.035855,-0.028654,NaN,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,-0.154692,0.021773,0.005645,NaN,0.009079,-0.053898,0.023095,-0.109372,-0.039687,NaN,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000